body{
 background-color: lightblue
}
 
h1{
 color: blue;
 font-family: Georgia;
 text-transform: uppercase;
 text-align: center;
}
h2{
 color: red;
 font-family: cursive;
}
p{
 font-family: Times New Roman;
 
}
.bold{
 font-weight: bold;
}
.small{
 font-size: 60%;
}
.capitalize{
  text-transform: capitalize;
}
.span{
  display: inline;
  padding: 5px;
  border: 1px solid blue;
  background-color: lightyellow;
}
.center{
 text-align: center;
}
.left, .home{
 text-align: left;
}
img {
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;;
}
