body{
 background-color: lightblue
}
 
h1{
 color: blue;
 font-family: Georgia;
 text-transform: uppercase;
 text-align: center;
}
h2{
 color: red;
 font-family: cursive;
}
p{
 font-family: Times New Roman;
 
}
.bold{
 font-weight: bold;
}
.small{
 font-size: 60%;
}
.capitalize{
  text-transform: capitalize;
}
.textcenter{
 text-align: center;
}
.textleft, .home{
 text-align: left;
}
img {
 border: 1px solid #ddd;
 border-radius: 4px;
 padding: 5px;
 position: relative;
 right: 0
}
div{
}
hr.solid {
  border-top: 3px solid #bbb;
}
.header{
 position: relative;
 top: 0px;
 left: 0px;
 right: 0px;
 background-color: lightgrey;
 width: 100%;
}
.Michael{
 background-color: lightyellow;
 position: relative;
 width: 33%;
 text-align: left;
 display: block;
 padding: 5px;
 border: 1px solid;
}
.Izaak{
 background-color: lightyellow;
 position: relative;
 right: 0;
 width: 33%;
 text-align: left;
 display: block;
 padding: 5px;
 border: 1px solid;
}
.Bryce{
 background-color: lightyellow;
 width: 33%;
 text-align: left;
 display: block;
 padding: 5px;
 border: 1px solid;
}

